*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.container-nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-h1{
    color:black;
    font-size: 35px;
}
.item{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    margin: 0 10px;
}
.con-img{
    display: flex;
}
.main1{
    width: 100%;
    margin-top: 45px;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.main-box{ 
    width: 1200px;
    height: 530px;
    background-image:url(background.png);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.main-p{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
}
.main-h1{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 47px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}
.main-p-1{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}
.main-btn{
    width: 230px;
    height:18px;
    margin-top: 45px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
    border-radius: 0px;
    font-style: normal;
}
.main-tittle{
    /* width: 100%; */
    margin-top: 125px;
}
.box_tittle{
    /* display: flex; */
    /* justify-content: center; */
}
.box-h1{
    margin: 45px 20%;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1D1F2E;
    font-style: normal;
}
.box-p{
    margin: 45px 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}
.box-h2{
    border-bottom: 3px solid rgba(162, 95, 75, 0.2);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #A25F4B;
    font-style: normal;
    width: 200px;
    margin-left: 535px;
    display: flex; 
    align-items:center;
    justify-content: center;
}
.box-h3{
    margin: 45px 20%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    font-style: normal;
}
/* <!-- main-img-1 -- */
.main-img-1{
    width: 100%;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
}
.firstCoffee{
    margin: 0 45px;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items:center;
}
.more-products{
    margin-top: 100px;
}
.img-1{
   width: 350px;
   height: 450px;
}
.img-price{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D1F2E;
    font-style: normal;
}
.img-price1{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
    font-style: normal;
}
.more-products{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    font-style: normal;
}
/* Main3 */
.grid-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 125px 10% 0 10%; 
}
.grid-box{
    margin-bottom: 15px;
}
.img-4{
    margin-bottom: 35px;
}
.grid-p{
    color: rgba(29, 31, 46, 0.4);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    text-decoration-line: line-through;
}
.grid-h1{
    margin-bottom:8px;
    color: #1D1F2E;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
/* <!-- Main4--> */
.main4{
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 125px;
}
.main4-img{
    display: flex;
    flex-direction: column;
}
.main4-h1{
    margin-bottom: 95px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    font-style: normal;

}.main-box-1{
   display: flex;
   margin: 0 10%;
}
.box-img{
    display: flex;
    margin-right: 60px;
}
.box-img-1{
    margin: 10px;
}
.main4-tittle{
    display: flex;
    flex-direction: column;
}
.main4-p{
    width: 450px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.main4-h1-1{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;
    font-style: normal;
}
.main4-btn{
    margin-bottom: 40px;
    cursor:pointer;
    width: 173px;
    height: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #1D1F2E;
    border-radius: 0px;
    font-style: normal;
}
/* <!-- main5 --> */
.main5-con{
    margin-top: 125px;
    display: flex;
    flex-direction: column;
}
.main5-box{
    margin:0 10%;
    display: flex;
}
.main5-box-h1{
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    font-style: normal;
}
.box-main5{
    margin: 10px;
}
.main5-h1{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    font-style: normal;
}
.main5-p{
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.main5-tittle{
    margin-top: 45px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
    font-style: normal;
}
/* <!-- Main6 --> */
.main6-con{
    margin-bottom: 125px;
    width: 1250px;
    height: 350px;
    background: #1D1F2E;
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-left: 14px;
}
.main6-p{
    margin-top: 80px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
}
.main6-h1{
    margin: 15px 0 25px 0 ;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}
.main6-in{
    margin-right: 10px;
    width: 350px;
    height:54px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #1D1F2E;
    border-radius: 0px;
    font-style: normal;
}
.main6-btn{
    width: 129px;
    height: 54px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
    border-radius: 0px;
    font-style: normal;
    line-height: 18px;
}
/* <!-- main7 --> */
.main7-con{
    display: flex;
    margin:0 10%;
}
.main7-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 100px;
}
.main7-h1{
    margin-bottom: 15px;
    color:black;
    font-size: 25px;
}
.main7-p{
    width: 260px;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
    font-style: normal;
}
.main7-p1{
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
    font-style: normal;
}
.main7-a{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
a{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
    font-style: normal;
}
.main7-p-1{
    margin: 15px 0 22px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
    font-style: normal;
}
.main7-h2{
    margin-bottom: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #1D1F2E;
    
}
.main7-p-2{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
    font-style: normal;

}
